@import 'src/styles/variables';
@import 'src/styles/mixins';

.houses-wrapper {
  padding: 16px;
  background-color: $background;

  .houses-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: repeat-y;
    opacity: 0.3;
  }

  .houses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .house-list-card {
    display: inline-block;
    flex-direction: column;
    width: $listCardWidth;
    height: $listCardHeight;
    margin: 16px 8px;
    border-radius: 5px;
    overflow: hidden;

    .top-section {
      position: relative;
      width: $listCardWidth;
      height: $listCardHeight / 2;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      overflow: hidden;
      background-color: $cardImgBg;

      .top-section-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: repeat-y;
      }

      .top-section-placeholder {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .top-section-label {
        margin: 8px;
      }
    }

    .bottom-section {
      position: relative;
      width: $listCardWidth;
      height: $listCardHeight / 2;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      overflow: hidden;
      background-color: $white;
      padding: 16px;

      .id-text {
        height: 18px;
        font-size: 14px;
        color: $dustyGray;
      }

      .name-text {
        height: 40px;
        font-size: 16px;
        color: $black;
        font-weight: 900;
        font-style: italic;
        overflow-y: scroll;
      }

      .btn-wrapper {
        margin-top: 8px;

        .book-label {
          margin-top: 18px;
        }
      }
    }
  }
}
