@font-face {
  font-family: 'CenturyGothic';
  src: url('../assets/fonts/CenturyGothic.eot') format('eot'),
  url('../assets/fonts/CenturyGothic.ttf') format('ttf'),
  url('../assets/fonts/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url('../assets/fonts/CenturyGothic-Bold.eot') format('eot'),
  url('../assets/fonts/CenturyGothic-Bold.ttf') format('ttf'),
  url('../assets/fonts/CenturyGothic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CenturyGothic-BoldItalic';
  src: url('../assets/fonts/CenturyGothic-BoldItalic.eot') format('eot'),
  url('../assets/fonts/CenturyGothic-BoldItalic.ttf') format('ttf'),
  url('../assets/fonts/CenturyGothic-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

.fs {
  &-12 {font-size: 12px !important;}
  &-14 {font-size: 14px !important;}
  &-16 {font-size: 16px !important;}
  &-18 {font-size: 18px !important;}
  &-20 {font-size: 20px !important;}
}
