//colors
$white: #ffffff;
$dustyGray: #999999;
$darkGray: #444444;
$lightBlack: #151515;
$black: #000000;
$red: #E02323;
$green: #11A960;
$blue: #2C64B7;
$disabledBtn: #B3B3B3;
$cardImgBg: #EEEEEE;
$background: #E5E5E5;

//size
$listCardWidth: 218px;
$listCardHeight: 278px;

$drawerCloseWidth: 57px;
$drawerOpenWidth: 160px;
$drawerHeaderHeight: 64px;
