@import 'src/styles/variables';

$btnHeight: 40px;

.custom-button {
  height: $btnHeight;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  line-height: $btnHeight;
  overflow: hidden;
  color: $white;
  border-radius: 5px;
  cursor: pointer;
  background-color: $blue;

  &.disabled {
    cursor: not-allowed;
    background-color: $disabledBtn;
  }
}