@import 'src/styles/variables';

$labelHeight: 21px;
$labelMaxWidth: 200px;

.label {
  display: inline-block;
  height: $labelHeight;
  padding: 3px 10px;
  font-size: 12px;
  text-align: center;
  max-width: $labelMaxWidth;
  overflow: hidden;
  color: $white;
  border-radius: $labelHeight / 2;

  &.label-red {
    background-color: $red;
  }
  &.label-green {
    background-color: $green;
  }
  &.label-blue {
    background-color: $blue;
  }
}