@import 'src/styles/variables';

.booked-label {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  color: $green;
  align-items: center;

  .booked-label-text {
    font-size: 14px;
    margin-left: 8px;
  }
}